<h1>{{title}}</h1>
<p>Inspire the world</p>

<article class="form">
    <form action="/addpost" id="formAddPost" name="addPost" method="post">
        <input class="formElement" type="text" id="inputTitle" placeholder="title" name="title">
        <textarea class="formElement" type="textarea" id="inputContent" placeholder="content" name="content" rows="20"></textarea>
        <button class="formElement" type="submit" id="submitPost"> submit </button>
    </form>
</article>
