<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <ul>
            <li class="menuItem"><a href="/posts">Posts</a></li>
            <li class="menuItem"><a href="/create">Create</a></li>
            <li class="menuItem"><a href="/signup">Sign Up</a></li>
            <li class="menuItem"><a href="http://admin.localhost:3000/">Admin</a></li>
            <li class="menuItem"><a href="/foo">Foo</a></li>
        </ul>
    </nav>
    <div class="view">
        {{{body}}}
    </div>
  </body>
</html>
