<h1>{{title}}</h1>
<p class="subtitle">Share it to the world.</p>

<div class="form">
    <form action="/login-process" id="formSignIn" name="signIn" method="post">
        <input class="formElement inputEmail" type="text" placeholder="email" name="email">
        <input class="formElement inputPassword" type="text" placeholder="password" name="password">
        <button class="formElement" type="submit" id="submitPost"> login </button>
    </form>
</div>

<div class="form">
    <form action="/signup-process" id="formRegister" name="register" method="post">
        <input class="formElement inputEmail" type="text" placeholder="username" name="username">
        <input class="formElement inputPassword" type="text" placeholder="password" name="password">
        <button class="formElement" type="submit" id="submitPost"> register </button>
    </form>
</div>
