<h1>{{title}}</h1>
<p class="subtitle">Share it to the world.</p>

<div class="form">
    <form action="/login" id="formAddPost" name="addPost" method="post">
        <input class="formElement" type="text" id="inputEmail" placeholder="title" name="email">
        <input class="formElement" type="text" id="inputPassword" placeholder="title" name="title">
        <button class="formElement" type="submit" id="submitPost"> login </button>
    </form>
</div>
