<h1>{{title}}</h1>
<p class="subtitle">This is where you see a list of posts</p>
<ul class="postList">
    {{#each posts}}
        <li class="postItem">
            <a href="{{url}}"> > {{title}}</a>
        </li>
    {{/each}}
</ul>
