<h1>{{title}}</h1>
<p>So you want to blog?</p>

<div class="form">
    <form action="/signup" id="formSignup" name="addPost" method="post">
        <input class="formElement" type="text" id="inputEmail" placeholder="title" name="email">
        <input class="formElement" type="text" id="inputPassword" placeholder="title" name="title">
        <button class="formElement" type="submit" id="submitPost"> signup </button>
    </form>
</div>
