/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------- */

button {
 margin      : 0;
 padding     : 0;
 border      : 0;
 background  : transparent;
 font-family : inherit;
 font-size   : 1em;
 cursor      : pointer;
}

body {
  font-family: Helvetica;
  font-size: 40px;
}

a {
  color: #00B7FF;
  font-size: 30px;
}

a:hover {
    color: blue;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 30px;
}

p a {

}


/* NAVIGATION */

nav {
    overflow: auto;
}

nav ul {

}

nav ul li {

    float: left;
}

nav ul li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    font-size: 30px;
    color: grey;
    border-bottom: 5px solid #ccc;
}

nav ul li a:hover {
    color: #ccc;
    border-bottom: 5px solid #ccc;
}


/* VIEW */

.view {
    padding: 30px 0px 30px 30px;
}

.subtitle {
    padding: 20px 0;
    margin: 0 0 10px 0;
    border-bottom: 5px solid black;
}

/* POSTS */

.postList {

}

.postList li {

}

.postList li a {
    text-decoration: none;
}

/* Element */

.form {
	font-family: helvetica;
}

.form #formAddPost {
	max-width: 80%;
}

.form #formAddPost .formElement {
	border: 3px solid #fff;
    line-height: 1.5;
    padding: 0px;
    color: black;
    display: block;
	width: 100%;
    background: transparent;

}

.form #formAddPost .formElement:focus {
	outline: none;
}

.form #formAddPost #inputTitle {
	font-size: 60px;
	font-family: helvetica;
	width: 100%;
}

.form #formAddPost #inputTitle:active {


}

.form #formAddPost #inputContent {
	font-size: 20px;
	font-family: helvetica;

}

.form #formAddPost #submitPost {
	background: #ccc;
    color: white;
    width: auto;
	border-top: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    letter-spacing: 1px;
	display: block;
	float: right;
	margin-top: 20px;
}


.form #formAddPost #submitPost:hover {
	cursor: pointer;
	background: grey;

}
